# ETL

## 2. Transform

In [404]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

## Data
1. Unemployment Data
2. Income Tax
3. Elections results

In [66]:
def read_csv_folder(folder_path):
    """
    Read CSV files from a folder and create a DataFrame for each file.

    Parameters:
        folder_path (str): The path to the folder containing the CSV files.

    Returns:
        dict: A dictionary containing the file name as key and a DataFrame containing the data from the CSV file as value.
    """
    dataframes = {}
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):
            filepath = os.path.join(folder_path, filename)
            df = pd.read_csv(filepath, encoding='latin1', sep=';',on_bad_lines='skip')
            nombre = filename[:-4]
            dataframes[nombre] = df
    return dataframes

In [178]:
def get_null_counts(df):
    # create a Boolean mask indicating where there are null values
    mask = df.isnull()
    # count the number of null values in each column
    null_counts = mask.sum()
    # create a dataframe with the null counts for each column
    null_df = pd.DataFrame({'null_count': null_counts})
    # return the null dataframe
    return null_df

In [181]:
def export_to_csv(df, file_path):
    
    df.to_csv(file_path, encoding='latin-1', index=True, sep=';')
    
    print(f"File saved to {file_path}")

In [376]:
dict_df = read_csv_folder('/app/data/')

In [377]:
for key, value in dict_df.items():
    print(key)
    exec("{} = pd.DataFrame(value)".format(key))

df_provincias
df_mesas
df_municipios
Paro_por_municipios_2019

# EDA

## Unemployment

Month with data before elections: ***October 2019***

In [116]:
unemployment= Paro_por_municipios_2019[Paro_por_municipios_2019['mes']=='Octubre de 2019']

In [117]:
unemployment.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8127 entries, 73143 to 81269
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Código mes                8127 non-null   int64
 1   mes                       8127 non-null   object
 2   Código de CA              8127 non-null   int64
 3   Comunidad Autónoma        8127 non-null   object
 4   Codigo Provincia          8127 non-null   int64
 5   Provincia                 8127 non-null   object
 6   Codigo Municipio          8127 non-null   int64
 7    Municipio                8127 non-null   object
 8   total Paro Registrado     8127 non-null   int64
 9   Paro hombre edad < 25     8127 non-null   int64
 10  Paro hombre edad 25 -45   8127 non-null   int64
 11  Paro hombre edad >=45     8127 non-null   int64
 12  Paro mujer edad < 25      8127 non-null   int64
 13  Paro mujer edad 25 -45    8127 non-null   int64
 14  Paro mujer edad >=45      8127 non-null   int64
 15  Paro Agricultura          8127 non-null   int64
 16  Paro Industria            8127 non-null   int64
 17  Paro Construcción         8127 non-null   int64
 18  Paro Servicios            8127 non-null   int64
 19  Paro Sin empleo Anterior  8127 non-null   int64
dtypes: int64(16), object(4)
memory usage: 1.3+ MB

In [179]:
get_null_counts(unemployment)

                         null_count
mes                               0
cod_ccaa                          0
ccaa                              0
cod_provincia                     0
provincia                         0
cod_muni                          0
municipio                         0
paro_total                        0
paro_hombre_<25                   0
paro_hombre_25_45                 0
paro_hombre_>=25                  0
paro_mujer_<25                    0
paro_mujer_25_45                  0
paro_mujer_>=45                   0
paro_agricultura                  0
paro_industria                    0
paro_construccion                 0
paro_servicios                    0
paro_no_empleo_anterior           0

#### Drop columns

In [119]:
unemployment= unemployment.drop('Código mes ', axis=1)

#### Rename columns

In [120]:
unemployment.rename(columns={' Municipio':'municipio'},inplace=True)
unemployment.rename(columns={'total Paro Registrado':'paro_total'},inplace=True)
unemployment.rename(columns={'Código de CA':'cod_ccaa'},inplace=True)
unemployment.rename(columns={'Comunidad Autónoma':'ccaa'},inplace=True)
unemployment.rename(columns={'Provincia':'provincia'},inplace=True)
unemployment.rename(columns={'Codigo Provincia':'cod_provincia'},inplace=True)
unemployment.rename(columns={'Codigo Municipio':'cod_muni'},inplace=True)
unemployment.rename(columns={'Paro hombre edad < 25':'paro_hombre_<25'},inplace=True)
unemployment.rename(columns={'Paro hombre edad 25 -45 ':'paro_hombre_25_45'},inplace=True)
unemployment.rename(columns={'Paro hombre edad >=45':'paro_hombre_>=25'},inplace=True)
unemployment.rename(columns={'Paro mujer edad < 25':'paro_mujer_<25'},inplace=True)
unemployment.rename(columns={'Paro mujer edad 25 -45 ':'paro_mujer_25_45'},inplace=True)
unemployment.rename(columns={'Paro mujer edad >=45':'paro_mujer_>=45'},inplace=True)
unemployment.rename(columns={'Paro Agricultura':'paro_agricultura'},inplace=True)
unemployment.rename(columns={'Paro Industria':'paro_industria'},inplace=True)
unemployment.rename(columns={'Paro Construcción':'paro_construccion'},inplace=True)
unemployment.rename(columns={'Paro Servicios':'paro_servicios'},inplace=True)
unemployment.rename(columns={'Paro Sin empleo Anterior':'paro_no_empleo_anterior'},inplace=True)

In [130]:
unemployment[["paro_total","paro_hombre_<25","paro_hombre_25_45",'paro_hombre_>=25','paro_mujer_<25','paro_mujer_25_45','paro_mujer_>=45','paro_agricultura','paro_industria','paro_construccion','paro_servicios','paro_no_empleo_anterior']].describe(include="all")

,paro_total,paro_hombre_<25,paro_hombre_25_45,paro_hombre_>=25,paro_mujer_<25,paro_mujer_25_45,paro_mujer_>=45,paro_agricultura,paro_industria,paro_construccion,paro_servicios,paro_no_empleo_anterior
count,8127.000000,8127.000000,8127.000000,8127.000000,8127.000000,8127.000000,8127.000000,8127.000000,8127.000000,8127.000000,8127.000000,8127.000000
mean,391.000246,16.613880,61.309708,82.546081,16.153685,97.013904,117.362988,18.372708,33.134244,31.254091,274.716378,33.522825
std,2771.105322,110.355093,451.094691,615.132714,108.590727,656.210717,837.805125,76.486900,187.442733,209.009748,2117.132445,254.872821
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000
50%,25.000000,1.000000,4.000000,6.000000,1.000000,5.000000,7.000000,1.000000,2.000000,2.000000,16.000000,1.000000
75%,142.000000,6.000000,20.000000,32.000000,6.000000,34.000000,39.000000,9.000000,13.000000,11.000000,91.000000,8.000000
max,164342.000000,6670.000000,26851.000000,37758.000000,6557.000000,37781.000000,48725.000000,2251.000000,7453.000000,11749.000000,132134.000000,11897.000000

#### Extract KPI
- CCAA, Province and Municipality with higher unemployed people (total)
- CCAA, Province and Municipality with higher unemployed people (per industry)

In [144]:
unemployment[unemployment['paro_total'].max()==unemployment['paro_total']][['ccaa','provincia','municipio','paro_total']]

                       ccaa provincia municipio  paro_total
80424  Madrid, Comunidad de    Madrid    Madrid      164342

In [147]:
unemployment[unemployment['paro_industria'].max()==unemployment['paro_industria']][['ccaa','provincia','municipio','paro_industria']]

                       ccaa provincia municipio  paro_industria
80424  Madrid, Comunidad de    Madrid    Madrid            7453

In [146]:
unemployment[unemployment['paro_agricultura'].max()==unemployment['paro_agricultura']][['ccaa','provincia','municipio','paro_agricultura']]

            ccaa provincia municipio  paro_agricultura
73577  Andalucía    Huelva    Huelva              2251

In [148]:
unemployment[unemployment['paro_construccion'].max()==unemployment['paro_construccion']][['ccaa','provincia','municipio','paro_construccion']]

                       ccaa provincia municipio  paro_construccion
80424  Madrid, Comunidad de    Madrid    Madrid              11749

In [149]:
unemployment[unemployment['paro_servicios'].max()==unemployment['paro_servicios']][['ccaa','provincia','municipio','paro_servicios']]

                       ccaa provincia municipio  paro_servicios
80424  Madrid, Comunidad de    Madrid    Madrid          132134

In [159]:
unemployment.pivot_table(index=['ccaa','provincia'], 
                         values=['paro_industria','paro_servicios','paro_total','paro_construccion','paro_agricultura'],
                         aggfunc='sum')

                                                    paro_agricultura  \
ccaa                        provincia
Andalucía                   Almería                             6770
                            Cádiz                               5600
                            Córdoba                             7146
                            Granada                             7649
                            Huelva                              9215
                            Jaén                                8748
                            Málaga                              3659
                            Sevilla                            11587
Aragón                      Huesca                               788
                            Teruel                               331
                            Zaragoza                            2806
Asturias, Principado de     Asturias                            1352
Balears, Illes              Balears, Illes                       678
Canarias                    Palmas, Las                         1988
                            Santa Cruz de Tenerife              2507
Cantabria                   Cantabria                            605
Castilla - La Mancha        Albacete                            3160
                            Ciudad Real                         6054
                            Cuenca                              1646
                            Guadalajara                          306
                            Toledo                              3904
Castilla y León             Burgos                              1285
                            León                                1711
                            Palencia                             621
                            Salamanca                            637
                            Segovia                              476
                            Soria                                200
                            Valladolid                          2343
                            Zamora                               862
                            Ávila                                639
Cataluña                    Barcelona                           2671
                            Girona                              1018
                            Lleida                              2686
                            Tarragona                           2223
Ceuta                       Ceuta                                 78
Comunitat Valenciana        Alicante/Alacant                    5204
                            Castellón/Castelló                  1550
                            Valencia/Valéncia                   5201
Extremadura                 Badajoz                             8270
                            Cáceres                             2782
Galicia                     Coruña, A                           1636
                            Lugo                                 737
                            Ourense                             1040
                            Pontevedra                          2393
Madrid, Comunidad de        Madrid                              2766
Melilla                     Melilla                               81
Murcia, Región de           Murcia                              7336
Navarra, Comunidad Foral de Navarra                             1958
País Vasco                  Araba/Álava                          753
                            Bizkaia                             1193
                            Gipuzkoa                             601
Rioja, La                   Rioja, La                           1865

                                                    paro_construccion  \
ccaa                        provincia
Andalucía                   Almería                              5199
                            Cádiz                               14333
                            Córdoba                              5817
                            Granada                              8299
                            Huelva                               3799
                            Jaén                                 2855
                            Málaga                              14038
                            Sevilla                             16839
Aragón                      Huesca                                579
                            Teruel                                432
                            Zaragoza                             3039
Asturias, Principado de     Asturias                             5393
Balears, Illes              Balears, Illes                       5469
Canarias                    Palmas, Las                         10085
                            Santa Cruz de Tenerife              10471
Cantabria                   Cantabria                            2642
Castilla - La Mancha        Albacete                             2038
                            Ciudad Real                          3600
                            Cuenca                                848
                            Guadalajara                          1012
                            Toledo                               4528
Castilla y León             Burgos                               1143
                            León                                 2002
                            Palencia                              434
                            Salamanca                            1473
                            Segovia                               369
                            Soria                                 184
                            Valladolid                           1627
                            Zamora                                848
                            Ávila                                1046
Cataluña                    Barcelona                           21639
                            Girona                               3413
                            Lleida                               1413
                            Tarragona                            3834
Ceuta                       Ceuta                                 488
Comunitat Valenciana        Alicante/Alacant                    12829
                            Castellón/Castelló                   2908
                            Valencia/Valéncia                   11844
Extremadura                 Badajoz                              4272
                            Cáceres                              3241
Galicia                     Coruña, A                            5381
                            Lugo                                 1342
                            Ourense                              1432
                            Pontevedra                           4571
Madrid, Comunidad de        Madrid                              26289
Melilla                     Melilla                               565
Murcia, Región de           Murcia                               7748
Navarra, Comunidad Foral de Navarra                              1591
País Vasco                  Araba/Álava                          1112
                            Bizkaia                              5331
                            Gipuzkoa                             1537
Rioja, La                   Rioja, La                             781

                                                    paro_industria  \
ccaa                        provincia
Andalucía                   Almería                           2169
                            Cádiz                             8953
                            Córdoba                           6167
                            Granada                           4254
                            Huelva                            2162
                            Jaén                              3718
                            Málaga                            6724
                            Sevilla                          11647
Aragón                      Huesca                             732
                            Teruel                             742
                            Zaragoza                          5757
Asturias, Principado de     Asturias                          5772
Balears, Illes              Balears, Illes                    2176
Canarias                    Palmas, Las                       4179
                            Santa Cruz de Tenerife            3956
Cantabria                   Cantabria                         2891
Castilla - La Mancha        Albacete                          3535
                            Ciudad Real                       3878
                            Cuenca                            1108
                            Guadalajara                       1092
                            Toledo                            6271
Castilla y León             Burgos                            2516
                            León                              2757
                            Palencia                           768
                            Salamanca                         1433
                            Segovia                            498
                            Soria                              421
                            Valladolid                        2610
                            Zamora                             821
                            Ávila                              674
Cataluña                    Barcelona                        33651
                            Girona                            3623
                            Lleida                            1740
                            Tarragona                         4318
Ceuta                       Ceuta                              426
Comunitat Valenciana        Alicante/Alacant                 22216
                            Castellón/Castelló                4645
                            Valencia/Valéncia                21557
Extremadura                 Badajoz                           3766
                            Cáceres                           2219
Galicia                     Coruña, A                         6829
                            Lugo                              1212
                            Ourense                           2151
                            Pontevedra                        7967
Madrid, Comunidad de        Madrid                           21089
Melilla                     Melilla                            138
Murcia, Región de           Murcia                           10600
Navarra, Comunidad Foral de Navarra                           4298
País Vasco                  Araba/Álava                       2257
                            Bizkaia                           7206
                            Gipuzkoa                          4228
Rioja, La                   Rioja, La                         2765

                                                    paro_servicios  paro_total
ccaa                        provincia
Andalucía                   Almería                          38220       57358
                            Cádiz                            98758      146204
                            Córdoba                          44050       70301
                            Granada                          54407       83118
                            Huelva                           29390       48136
                            Jaén                             30263       50845
                            Málaga                          103887      143896
                            Sevilla                         126715      187256
Aragón                      Huesca                            5966        8725
                            Teruel                            3669        5604
                            Zaragoza                         34829       50906
Asturias, Principado de     Asturias                         50724       70062
Balears, Illes              Balears, Illes                   39791       50586
Canarias                    Palmas, Las                      83031      108264
                            Santa Cruz de Tenerife           75789      101867
Cantabria                   Cantabria                        26827       35877
Castilla - La Mancha        Albacete                         22699       34145
                            Ciudad Real                      31085       48728
                            Cuenca                            8248       12790
                            Guadalajara                      11612       14997
                            Toledo                           41440       61177
Castilla y León             Burgos                           12466       18590
                            León                             19269       28855
                            Palencia                          5843        8541
                            Salamanca                        16661       22561
                            Segovia                           4608        6506
                            Soria                             2302        3400
                            Valladolid                       19640       29237
                            Zamora                            7467       10979
                            Ávila                             7349       10867
Cataluña                    Barcelona                       205723      283743
                            Girona                           26567       36809
                            Lleida                           13194       20379
                            Tarragona                        32957       46336
Ceuta                       Ceuta                             8998       12149
Comunitat Valenciana        Alicante/Alacant                 97746      147276
                            Castellón/Castelló               26805       39175
                            Valencia/Valéncia               128356      177863
Extremadura                 Badajoz                          46489       66650
                            Cáceres                          23789       34064
Galicia                     Coruña, A                        45273       64794
                            Lugo                             11279       16046
                            Ourense                          12280       18730
                            Pontevedra                       44742       64737
Madrid, Comunidad de        Madrid                          271814      345986
Melilla                     Melilla                           7320        9985
Murcia, Región de           Murcia                           64945       99819
Navarra, Comunidad Foral de Navarra                          21196       31858
País Vasco                  Araba/Álava                      12362       19037
                            Bizkaia                          44021       66039
                            Gipuzkoa                         20506       30265
Rioja, La                   Rioja, La                         9253       15541

In [161]:
unemployment_ok = unemployment.pivot_table(index=['ccaa','provincia'], 
                         values=['paro_industria','paro_servicios','paro_total','paro_construccion','paro_agricultura'],
                         aggfunc='sum')

In [182]:
export_to_csv(unemployment_ok,'/app/data/csv/paro_ok.csv')

File saved to /app/data/csv/paro_ok.csv

----------------------------------------------------

## Election results from Provincias & CCAA

In [315]:
df_provincias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957 entries, 0 to 956
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tipo_eleccion              957 non-null    int64
 1   anno                       957 non-null    int64
 2   mes                        957 non-null    int64
 3   vuelta                     957 non-null    int64
 4   codigo_ccaa                957 non-null    int64
 5   codigo_provincia           957 non-null    int64
 6   codigo_distrito_electoral  957 non-null    int64
 7   ambito_territorial         957 non-null    object
 8   poblacion_derecho          957 non-null    int64
 9   n_diputados                957 non-null    int64
 10  numero_mesas               957 non-null    int64
 11  censo_ine                  957 non-null    int64
 12  censo_escrutinio           957 non-null    int64
 13  censo_cere                 957 non-null    int64
 14  votantes_cere              957 non-null    int64
 15  participacion_1            957 non-null    int64
 16  participacion_2            957 non-null    int64
 17  votos_blancos              957 non-null    int64
 18  votos_nulos                957 non-null    int64
 19  votos_candidaturas         957 non-null    int64
 20  votos_afirmativos          957 non-null    int64
 21  votos_negativos            957 non-null    int64
 22  codigo_partido_nacional    957 non-null    int64
 23  codigo_partido_autonomia   957 non-null    int64
 24  codigo_partido_provincia   957 non-null    int64
 25  codigo_partido             957 non-null    int64
 26  denominacion               957 non-null    object
 27  siglas                     957 non-null    object
 28  votos                      957 non-null    int64
 29  diputados                  957 non-null    int64
 30  datos_oficiales            957 non-null    object
dtypes: int64(27), object(4)
memory usage: 231.9+ KB

In [316]:
df_provincias.head()

,tipo_eleccion,anno,mes,vuelta,codigo_ccaa,codigo_provincia,codigo_distrito_electoral,ambito_territorial,poblacion_derecho,n_diputados,numero_mesas,censo_ine,censo_escrutinio,censo_cere,votantes_cere,participacion_1,participacion_2,votos_blancos,votos_nulos,votos_candidaturas,votos_afirmativos,votos_negativos,codigo_partido_nacional,codigo_partido_autonomia,codigo_partido_provincia,codigo_partido,denominacion,siglas,votos,diputados,datos_oficiales
0,2,2019,11,1,1,4,9,Almería,709340,6,809,502621,502627,0,0,165047,242961,2661,2990,299763,0,0,94,94,94,94,PARTIDO SOCIALISTA OBRERO ESPAÑOL,PSOE,89295,2,S
1,2,2019,11,1,1,4,9,Almería,709340,6,809,502621,502627,0,0,165047,242961,2661,2990,299763,0,0,116,116,116,116,VOX,VOX,80714,2,S
2,2,2019,11,1,1,4,9,Almería,709340,6,809,502621,502627,0,0,165047,242961,2661,2990,299763,0,0,83,83,83,83,PARTIDO POPULAR,PP,78072,2,S
3,2,2019,11,1,1,4,9,Almería,709340,6,809,502621,502627,0,0,165047,242961,2661,2990,299763,0,0,78,81,81,81,UNIDAS PODEMOS,PODEMOS-IU LV CA,24400,0,S
4,2,2019,11,1,1,4,9,Almería,709340,6,809,502621,502627,0,0,165047,242961,2661,2990,299763,0,0,18,18,18,18,CIUDADANOS-PARTIDO DE LA CIUDADANÍA,Cs,22835,0,S

#### Drop columns

In [284]:
df_prov.votos_afirmativos.value_counts()

0    957
Name: votos_afirmativos, dtype: int64

In [285]:
df_prov.votos_negativos.value_counts()

0    957
Name: votos_negativos, dtype: int64

In [286]:
df_prov.votantes_cere.value_counts()

0    957
Name: votantes_cere, dtype: int64

In [287]:
df_prov.censo_cere.value_counts()

0    957
Name: censo_cere, dtype: int64

In [317]:
df_prov = df_provincias.drop(['tipo_eleccion', 'anno','mes','vuelta',
                                   'datos_oficiales','codigo_partido_nacional',
                                  'codigo_partido_autonomia','codigo_partido_provincia',
                              'codigo_distrito_electoral','participacion_1',
                                   'codigo_partido','votos_afirmativos','votos_negativos','votantes_cere','censo_cere'],axis=1)

In [318]:
df_prov.head()

,codigo_ccaa,codigo_provincia,ambito_territorial,poblacion_derecho,n_diputados,numero_mesas,censo_ine,censo_escrutinio,participacion_2,votos_blancos,votos_nulos,votos_candidaturas,denominacion,siglas,votos,diputados
0,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,PARTIDO SOCIALISTA OBRERO ESPAÑOL,PSOE,89295,2
1,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,VOX,VOX,80714,2
2,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,PARTIDO POPULAR,PP,78072,2
3,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,UNIDAS PODEMOS,PODEMOS-IU LV CA,24400,0
4,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,CIUDADANOS-PARTIDO DE LA CIUDADANÍA,Cs,22835,0

In [319]:
df_prov.ambito_territorial.unique()

array(['Almería', 'Cádiz', 'Córdoba', 'Granada', 'Huelva', 'Jaén',
       'Málaga', 'Sevilla', 'Andalucía', 'Huesca', 'Teruel', 'Zaragoza',
       'Aragón', 'Asturias', 'Principado de Asturias', 'Illes Balears',
       'Las Palmas', 'Santa Cruz de Tenerife', 'Canarias', 'Cantabria',
       'Albacete', 'Ciudad Real', 'Cuenca', 'Guadalajara', 'Toledo',
       'Castilla - La Mancha', 'Ávila', 'Burgos', 'León', 'Palencia',
       'Salamanca', 'Segovia', 'Soria', 'Valladolid', 'Zamora',
       'Castilla y León', 'Barcelona', 'Girona', 'Lleida', 'Tarragona',
       'Cataluña', 'Badajoz', 'Cáceres', 'Extremadura', 'A Coruña',
       'Lugo', 'Ourense', 'Pontevedra', 'Galicia', 'Madrid',
       'Comunidad de Madrid', 'Navarra', 'Comunidad Foral de Navarra',
       'Araba / Álava', 'Gipuzkoa', 'Bizkaia', 'País Vasco', 'Murcia',
       'Región de Murcia', 'La Rioja', 'Alicante / Alacant',
       'Castellón / Castelló', 'Valencia / València',
       'Comunitat Valenciana', 'Ceuta', 'Ciudad de Ceuta', 'Melilla',
       'Ciudad de Melilla', 'Total nacional'], dtype=object)

**-----------------------------------------------------------------------------------------------------------------**

As you see, CCAA and provinces in the _same_ Dataset
- create 2 Dataset
   - 1 for CCAA --> votes_ccaa
   - 1 for provinces --> votes_prov

In [445]:
ccaa = ['Andalucía','Aragón','Principado de Asturias','Illes Balears',
        'Canarias','Comunitat Valenciana','Ceuta','Melilla',
        'Castilla - La Mancha','Castilla y León','Cataluña',
        'Extremadura','Galicia','Comunidad Foral de Navarra',
        'Comunidad de Madrid','Región de Murcia', 'La Rioja','País Vasco','Total nacional']
lista_columna = df_prov.ambito_territorial.unique().tolist()
provinces = set(lista_columna) - set(ccaa)

In [446]:
def create_match_dataset(df, column_name, match_list):
    
    # use isin() to create a Boolean mask of matching rows
    mask = df[column_name].isin(match_list)
    
    # use the mask to extract the matching rows
    matching_rows = df[mask]
    
    # return the matching rows
    return matching_rows

In [447]:
votes_ccaa = create_match_dataset(df_prov,'ambito_territorial',ccaa)

In [448]:
votes_province = create_match_dataset(df_prov,'ambito_territorial',provinces)

In [449]:
votes_ccaa.pivot_table(index=['ambito_territorial','codigo_ccaa','denominacion'], 
                         values=['votos','diputados','censo_ine','participacion_2','votos_blancos','votos_nulos',
                                 'votos_candidaturas'],
                         aggfunc='sum')

                                                                         censo_ine  \
ambito_territorial codigo_ccaa denominacion
Andalucía          1           ANDALUCÍA POR SÍ                            6579357
                               CIUDADANOS-PARTIDO DE LA CIUDADANÍA         6579357
                               CONVERGENCIA ANDALUZA                       6579357
                               ESCAÑOS EN BLANCO                           6579357
                               IZQUIERDA ANTICAPITALISTA REVOLUCIONARIA    6579357
...                                                                            ...
Total nacional     99          UNIDOS Actuando por la Democracia          37001235
                               UNIÓN DE TODOS                             37001235
                               UNIÓN DEL PUEBLO LEONÉS                    37001235
                               UNIÓN REGIONALISTA DE CASTILLA Y LEÓN      37001235
                               VOX                                        37001235

                                                                         diputados  \
ambito_territorial codigo_ccaa denominacion
Andalucía          1           ANDALUCÍA POR SÍ                                  0
                               CIUDADANOS-PARTIDO DE LA CIUDADANÍA               3
                               CONVERGENCIA ANDALUZA                             0
                               ESCAÑOS EN BLANCO                                 0
                               IZQUIERDA ANTICAPITALISTA REVOLUCIONARIA          0
...                                                                            ...
Total nacional     99          UNIDOS Actuando por la Democracia                 0
                               UNIÓN DE TODOS                                    0
                               UNIÓN DEL PUEBLO LEONÉS                           0
                               UNIÓN REGIONALISTA DE CASTILLA Y LEÓN             0
                               VOX                                              52

                                                                         participacion_2  \
ambito_territorial codigo_ccaa denominacion
Andalucía          1           ANDALUCÍA POR SÍ                                  3471035
                               CIUDADANOS-PARTIDO DE LA CIUDADANÍA               3471035
                               CONVERGENCIA ANDALUZA                             3471035
                               ESCAÑOS EN BLANCO                                 3471035
                               IZQUIERDA ANTICAPITALISTA REVOLUCIONARIA          3471035
...                                                                                  ...
Total nacional     99          UNIDOS Actuando por la Democracia                19823843
                               UNIÓN DE TODOS                                   19823843
                               UNIÓN DEL PUEBLO LEONÉS                          19823843
                               UNIÓN REGIONALISTA DE CASTILLA Y LEÓN            19823843
                               VOX                                              19823843

                                                                           votos  \
ambito_territorial codigo_ccaa denominacion
Andalucía          1           ANDALUCÍA POR SÍ                            14046
                               CIUDADANOS-PARTIDO DE LA CIUDADANÍA        346094
                               CONVERGENCIA ANDALUZA                         520
                               ESCAÑOS EN BLANCO                            1273
                               IZQUIERDA ANTICAPITALISTA REVOLUCIONARIA      113
...                                                                          ...
Total nacional     99          UNIDOS Actuando por la Democracia            1067
                               UNIÓN DE TODOS                                 26
                               UNIÓN DEL PUEBLO LEONÉS                     10243
                               UNIÓN REGIONALISTA DE CASTILLA Y LEÓN         530
                               VOX                                       3656979

                                                                         votos_blancos  \
ambito_territorial codigo_ccaa denominacion
Andalucía          1           ANDALUCÍA POR SÍ                                  50672
                               CIUDADANOS-PARTIDO DE LA CIUDADANÍA               50672
                               CONVERGENCIA ANDALUZA                             50672
                               ESCAÑOS EN BLANCO                                 50672
                               IZQUIERDA ANTICAPITALISTA REVOLUCIONARIA          50672
...                                                                                ...
Total nacional     99          UNIDOS Actuando por la Democracia                217227
                               UNIÓN DE TODOS                                   217227
                               UNIÓN DEL PUEBLO LEONÉS                          217227
                               UNIÓN REGIONALISTA DE CASTILLA Y LEÓN            217227
                               VOX                                              217227

                                                                         votos_candidaturas  \
ambito_territorial codigo_ccaa denominacion
Andalucía          1           ANDALUCÍA POR SÍ                                     4221012
                               CIUDADANOS-PARTIDO DE LA CIUDADANÍA                  4221012
                               CONVERGENCIA ANDALUZA                                4221012
                               ESCAÑOS EN BLANCO                                    4221012
                               IZQUIERDA ANTICAPITALISTA REVOLUCIONARIA             4221012
...                                                                                     ...
Total nacional     99          UNIDOS Actuando por la Democracia                   24041001
                               UNIÓN DE TODOS                                      24041001
                               UNIÓN DEL PUEBLO LEONÉS                             24041001
                               UNIÓN REGIONALISTA DE CASTILLA Y LEÓN               24041001
                               VOX                                                 24041001

                                                                         votos_nulos
ambito_territorial codigo_ccaa denominacion
Andalucía          1           ANDALUCÍA POR SÍ                                65040
                               CIUDADANOS-PARTIDO DE LA CIUDADANÍA             65040
                               CONVERGENCIA ANDALUZA                           65040
                               ESCAÑOS EN BLANCO                               65040
                               IZQUIERDA ANTICAPITALISTA REVOLUCIONARIA        65040
...                                                                              ...
Total nacional     99          UNIDOS Actuando por la Democracia              249487
                               UNIÓN DE TODOS                                 249487
                               UNIÓN DEL PUEBLO LEONÉS                        249487
                               UNIÓN REGIONALISTA DE CASTILLA Y LEÓN          249487
                               VOX                                            249487

[316 rows x 7 columns]

***Calculate KPIs for votes***

In [453]:
votes_ccaa['porcentaje_participacion'] = round(((votes_ccaa['participacion_2']/ votes_ccaa['censo_ine'])*100),2)
votes_ccaa['porcentaje_votos_partido'] = round(((votes_ccaa['votos']/ votes_ccaa['participacion_2'])*100),2)
votes_ccaa['porcentaje_votos_nulos'] = round(((votes_ccaa['votos_nulos']/ votes_ccaa['participacion_2'])*100),2)
votes_ccaa['porcentaje_votos_blancos'] = round(((votes_ccaa['votos_blancos']/ votes_ccaa['participacion_2'])*100),2)
votes_ccaa['porcentaje_diputados_obtenidos'] = round(((votes_ccaa['diputados']/ votes_ccaa['n_diputados'])*100),2)

In [454]:
votes_province.head()

,codigo_ccaa,codigo_provincia,ambito_territorial,poblacion_derecho,n_diputados,numero_mesas,censo_ine,censo_escrutinio,participacion_2,votos_blancos,votos_nulos,votos_candidaturas,denominacion,siglas,votos,diputados
0,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,PARTIDO SOCIALISTA OBRERO ESPAÑOL,PSOE,89295,2
1,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,VOX,VOX,80714,2
2,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,PARTIDO POPULAR,PP,78072,2
3,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,UNIDAS PODEMOS,PODEMOS-IU LV CA,24400,0
4,1,4,Almería,709340,6,809,502621,502627,242961,2661,2990,299763,CIUDADANOS-PARTIDO DE LA CIUDADANÍA,Cs,22835,0

In [455]:
votes_province['porcentaje_participacion'] = round(((votes_province['participacion_2']/ votes_province['censo_ine'])*100),2)
votes_province['porcentaje_votos_partido'] = round(((votes_province['votos']/ votes_province['participacion_2'])*100),2)
votes_province['porcentaje_votos_nulos'] = round(((votes_province['votos_nulos']/ votes_province['participacion_2'])*100),2)
votes_province['porcentaje_votos_blancos'] = round(((votes_province['votos_blancos']/ votes_province['participacion_2'])*100),2)
votes_province['porcentaje_diputados_obtenidos'] = round(((votes_province['diputados']/ votes_province['n_diputados'])*100),2)

In [456]:
export_to_csv(votes_ccaa,'/app/data/csv/votos_ccaa_ok.csv')

File saved to /app/data/csv/votos_ccaa_ok.csv

In [457]:
export_to_csv(votes_province,'/app/data/csv/votos_province_ok.csv')

File saved to /app/data/csv/votos_province_ok.csv

----------------------------------------------------

## Election results from Municipios

In [347]:
df_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99118 entries, 0 to 99117
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tipo_eleccion              99118 non-null  int64
 1   anno                       99118 non-null  int64
 2   mes                        99118 non-null  int64
 3   vuelta                     99118 non-null  int64
 4   codigo_ccaa                99118 non-null  int64
 5   codigo_provincia           99118 non-null  int64
 6   codigo_municipio           99118 non-null  int64
 7   municipio                  99118 non-null  object
 8   codigo_distrito            99118 non-null  int64
 9   codigo_distrito_electoral  99118 non-null  int64
 10  codigo_partido_judicial    99118 non-null  int64
 11  codigo_diputacion          99118 non-null  int64
 12  codigo_comarca             99118 non-null  int64
 13  poblacion_derecho          99118 non-null  int64
 14  numero_mesas               99118 non-null  int64
 15  censo_ine                  99118 non-null  int64
 16  censo_escrutinio           99118 non-null  int64
 17  censo_cere                 99118 non-null  int64
 18  votantes_cere              99118 non-null  int64
 19  participacion_1            99118 non-null  int64
 20  participacion_2            99118 non-null  int64
 21  votos_blancos              99118 non-null  int64
 22  votos_nulos                99118 non-null  int64
 23  votos_candidaturas         99118 non-null  int64
 24  numero_concejales          99118 non-null  int64
 25  codigo_partido_nacional    99118 non-null  int64
 26  codigo_partido_autonomia   99118 non-null  int64
 27  codigo_partido_provincia   99118 non-null  int64
 28  codigo_partido             99118 non-null  int64
 29  denominacion               99118 non-null  object
 30  siglas                     99118 non-null  object
 31  votos                      99118 non-null  int64
 32  datos_oficiales            99118 non-null  object
 33  concejales_obtenidos       99118 non-null  int64
dtypes: int64(30), object(4)
memory usage: 25.7+ MB

In [348]:
votes_municipios = df_municipios.drop(['tipo_eleccion', 'anno','mes','vuelta','codigo_comarca',
                                    'codigo_partido_judicial','datos_oficiales',
                                    'codigo_partido_nacional','codigo_distrito',
                                    'codigo_distrito_electoral','concejales_obtenidos',
                                  'codigo_partido_autonomia','codigo_partido_provincia',
                                    'codigo_distrito_electoral','participacion_1',
                                   'codigo_partido','votantes_cere','censo_cere'],axis=1)

In [349]:
votes_municipios.head()

,codigo_ccaa,codigo_provincia,codigo_municipio,municipio,codigo_diputacion,poblacion_derecho,numero_mesas,censo_ine,censo_escrutinio,participacion_2,votos_blancos,votos_nulos,votos_candidaturas,numero_concejales,denominacion,siglas,votos
0,14,1,1,Alegría-Dulantzi,59,2887,4,2020,2020,1099,5,13,1367,0,PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL,PACMA,6
1,14,1,1,Alegría-Dulantzi,59,2887,4,2020,2020,1099,5,13,1367,0,PARTIDO SOCIALISTA DE EUSKADI-EUSKADIKO EZKERR...,PSE-EE (PSOE),284
2,14,1,1,Alegría-Dulantzi,59,2887,4,2020,2020,1099,5,13,1367,0,CIUDADANOS-PARTIDO DE LA CIUDADANÍA,Cs,22
3,14,1,1,Alegría-Dulantzi,59,2887,4,2020,2020,1099,5,13,1367,0,PARTIDO POPULAR,PP,114
4,14,1,1,Alegría-Dulantzi,59,2887,4,2020,2020,1099,5,13,1367,0,VOX,VOX,54

In [351]:
votes_municipios['porcentaje_participacion'] = round(((votes_municipios['participacion_2']/ votes_municipios['censo_ine'])*100),2)
votes_municipios['porcentaje_votos_partido'] = round(((votes_municipios['votos']/ votes_municipios['participacion_2'])*100),2)
votes_municipios['porcentaje_votos_nulos'] = round(((votes_municipios['votos_nulos']/ votes_municipios['participacion_2'])*100),2)
votes_municipios['porcentaje_votos_blancos'] = round(((votes_municipios['votos_blancos']/ votes_municipios['participacion_2'])*100),2)

In [356]:
votes_municipios.pivot_table(index=['municipio','denominacion','siglas'], 
                         values=['votos','participacion_2','votos_blancos','votos_nulos','porcentaje_participacion'],
                         aggfunc='sum')

                                                                                                participacion_2  \
municipio          denominacion                                       siglas
Ababuj             AGRUPACIÓN DE ELECTORES TERUEL EXISTE              ¡TERUEL EXI                            37
                   AUNA COMUNITAT VALENCIANA                          AUNACV                                 37
                   CIUDADANOS-PARTIDO DE LA CIUDADANÍA                Cs                                     37
                   PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL       PACMA                                  37
                   PARTIDO COMUNISTA DE LOS PUEBLOS DE ESPAÑA         PCPE                                   37
...                                                                                                         ...
Úrbel del Castillo PARTIDO SOCIALISTA OBRERO ESPAÑOL                  PSOE                                   46
                   POR UN MUNDO MÁS JUSTO                             PUM+J                                  46
                   RECORTES CERO-GRUPO VERDE-PARTIDO CASTELLANO-TI... RECORTES CERO-GV-PCAS-TC               46
                   UNIDAS PODEMOS                                     PODEMOS-IU                             46
                   VOX                                                VOX                                    46

                                                                                                porcentaje_participacion  \
municipio          denominacion                                       siglas
Ababuj             AGRUPACIÓN DE ELECTORES TERUEL EXISTE              ¡TERUEL EXI                                  56.92
                   AUNA COMUNITAT VALENCIANA                          AUNACV                                       56.92
                   CIUDADANOS-PARTIDO DE LA CIUDADANÍA                Cs                                           56.92
                   PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL       PACMA                                        56.92
                   PARTIDO COMUNISTA DE LOS PUEBLOS DE ESPAÑA         PCPE                                         56.92
...                                                                                                                  ...
Úrbel del Castillo PARTIDO SOCIALISTA OBRERO ESPAÑOL                  PSOE                                         63.01
                   POR UN MUNDO MÁS JUSTO                             PUM+J                                        63.01
                   RECORTES CERO-GRUPO VERDE-PARTIDO CASTELLANO-TI... RECORTES CERO-GV-PCAS-TC                     63.01
                   UNIDAS PODEMOS                                     PODEMOS-IU                                   63.01
                   VOX                                                VOX                                          63.01

                                                                                                votos  \
municipio          denominacion                                       siglas
Ababuj             AGRUPACIÓN DE ELECTORES TERUEL EXISTE              ¡TERUEL EXI                  10
                   AUNA COMUNITAT VALENCIANA                          AUNACV                        0
                   CIUDADANOS-PARTIDO DE LA CIUDADANÍA                Cs                            3
                   PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL       PACMA                         1
                   PARTIDO COMUNISTA DE LOS PUEBLOS DE ESPAÑA         PCPE                          0
...                                                                                               ...
Úrbel del Castillo PARTIDO SOCIALISTA OBRERO ESPAÑOL                  PSOE                         18
                   POR UN MUNDO MÁS JUSTO                             PUM+J                         1
                   RECORTES CERO-GRUPO VERDE-PARTIDO CASTELLANO-TI... RECORTES CERO-GV-PCAS-TC      0
                   UNIDAS PODEMOS                                     PODEMOS-IU                    0
                   VOX                                                VOX                          13

                                                                                                votos_blancos  \
municipio          denominacion                                       siglas
Ababuj             AGRUPACIÓN DE ELECTORES TERUEL EXISTE              ¡TERUEL EXI                           1
                   AUNA COMUNITAT VALENCIANA                          AUNACV                                1
                   CIUDADANOS-PARTIDO DE LA CIUDADANÍA                Cs                                    1
                   PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL       PACMA                                 1
                   PARTIDO COMUNISTA DE LOS PUEBLOS DE ESPAÑA         PCPE                                  1
...                                                                                                       ...
Úrbel del Castillo PARTIDO SOCIALISTA OBRERO ESPAÑOL                  PSOE                                  0
                   POR UN MUNDO MÁS JUSTO                             PUM+J                                 0
                   RECORTES CERO-GRUPO VERDE-PARTIDO CASTELLANO-TI... RECORTES CERO-GV-PCAS-TC              0
                   UNIDAS PODEMOS                                     PODEMOS-IU                            0
                   VOX                                                VOX                                   0

                                                                                                votos_nulos
municipio          denominacion                                       siglas
Ababuj             AGRUPACIÓN DE ELECTORES TERUEL EXISTE              ¡TERUEL EXI                         0
                   AUNA COMUNITAT VALENCIANA                          AUNACV                              0
                   CIUDADANOS-PARTIDO DE LA CIUDADANÍA                Cs                                  0
                   PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL       PACMA                               0
                   PARTIDO COMUNISTA DE LOS PUEBLOS DE ESPAÑA         PCPE                                0
...                                                                                                     ...
Úrbel del Castillo PARTIDO SOCIALISTA OBRERO ESPAÑOL                  PSOE                                0
                   POR UN MUNDO MÁS JUSTO                             PUM+J                               0
                   RECORTES CERO-GRUPO VERDE-PARTIDO CASTELLANO-TI... RECORTES CERO-GV-PCAS-TC            0
                   UNIDAS PODEMOS                                     PODEMOS-IU                          0
                   VOX                                                VOX                                 0

[99022 rows x 5 columns]

In [357]:
export_to_csv(votes_municipios,'/app/data/csv/votos_municipios_ok.csv')

File saved to /app/data/csv/votos_municipios_ok.csv

----------------------------------------------------

## Election results from Polling station

In [378]:
df_mesas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770595 entries, 0 to 770594
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   tipo_eleccion             770595 non-null  int64
 1   anno                      770595 non-null  int64
 2   mes                       770595 non-null  int64
 3   vuelta                    770595 non-null  int64
 4   codigo_ccaa               770595 non-null  int64
 5   codigo_provincia          770595 non-null  int64
 6   codigo_municipio          770595 non-null  int64
 7   municipio                 770595 non-null  object
 8   codigo_distrito           770595 non-null  int64
 9   codigo_seccion            770595 non-null  int64
 10  codigo_mesa               770595 non-null  object
 11  censo_ine                 770595 non-null  int64
 12  censo_cera                770595 non-null  int64
 13  censo_cere                770595 non-null  int64
 14  votantes_cere             770595 non-null  int64
 15  participacion_1           770595 non-null  int64
 16  participacion_2           770595 non-null  int64
 17  votos_blancos             770595 non-null  int64
 18  votos_nulos               770595 non-null  int64
 19  votos_candidaturas        770595 non-null  int64
 20  codigo_partido_nacional   770595 non-null  int64
 21  codigo_partido_autonomia  770595 non-null  int64
 22  codigo_partido_provincia  770595 non-null  int64
 23  codigo_partido            770595 non-null  int64
 24  denominacion              770595 non-null  object
 25  siglas                    770595 non-null  object
 26  votos                     770595 non-null  int64
 27  datos_oficiales           770595 non-null  object
dtypes: int64(23), object(5)
memory usage: 164.6+ MB

In [379]:
df_mesas.head()

,tipo_eleccion,anno,mes,vuelta,codigo_ccaa,codigo_provincia,codigo_municipio,municipio,codigo_distrito,codigo_seccion,codigo_mesa,censo_ine,censo_cera,censo_cere,votantes_cere,participacion_1,participacion_2,votos_blancos,votos_nulos,votos_candidaturas,codigo_partido_nacional,codigo_partido_autonomia,codigo_partido_provincia,codigo_partido,denominacion,siglas,votos,datos_oficiales
0,2,2019,11,1,14,1,1,Alegría-Dulantzi,1,2,B,513,513,0,0,175,274,0,4,352,83,83,83,83,PARTIDO POPULAR,PP,32,S
1,2,2019,11,1,14,1,1,Alegría-Dulantzi,1,1,B,497,497,0,0,166,281,2,4,337,22,22,22,22,EUZKO ALDERDI JELTZALEA-PARTIDO NACIONALISTA V...,EAJ-PNV,108,S
2,2,2019,11,1,14,1,1,Alegría-Dulantzi,1,2,A,519,519,0,0,163,271,1,2,352,83,83,83,83,PARTIDO POPULAR,PP,33,S
3,2,2019,11,1,14,1,1,Alegría-Dulantzi,1,1,B,497,497,0,0,166,281,2,4,337,94,92,92,92,PARTIDO SOCIALISTA DE EUSKADI-EUSKADIKO EZKERR...,PSE-EE (PSOE),74,S
4,2,2019,11,1,14,1,1,Alegría-Dulantzi,1,2,A,519,519,0,0,163,271,1,2,352,64,66,66,66,PARTIDO COMUNISTA DE LOS TRABAJADORES DE EUSKA...,PCTE/ELAK,3,S

In [380]:
votos_mesa = df_mesas.drop(['tipo_eleccion', 'anno','mes','vuelta','participacion_1',
                            'datos_oficiales','codigo_partido_nacional','codigo_distrito',
                            'codigo_partido_autonomia','codigo_partido_provincia','participacion_1',
                            'codigo_partido','votantes_cere','censo_cere'],axis=1)

In [414]:
votos_mesa['porcentaje_participacion'] = round(((votos_mesa['participacion_2']/ votos_mesa['censo_ine'])*100),2)
votos_mesa['porcentaje_votos_partido'] = round(((votos_mesa['votos']/ votos_mesa['participacion_2'])*100),2)
votos_mesa['porcentaje_votos_nulos'] = round(((votos_mesa['votos_nulos']/ votos_mesa['participacion_2'])*100),2)
votes_municipios['porcentaje_votos_blancos'] = round(((votos_mesa['votos_blancos']/ votos_mesa['participacion_2'])*100),2)

In [384]:
votos_mesa['seccion_mesa']= votos_mesa['codigo_seccion'].astype(str) + '_' + votos_mesa['codigo_mesa']

In [385]:
votos_mesa.head()

,codigo_ccaa,codigo_provincia,codigo_municipio,municipio,codigo_seccion,codigo_mesa,censo_ine,censo_cera,participacion_2,votos_blancos,votos_nulos,votos_candidaturas,denominacion,siglas,votos,porcentaje_participacion,porcentaje_votos_partido,porcentaje_votos_nulos,porcentaje_votos_blancos,seccion_mesa
0,14,1,1,Alegría-Dulantzi,2,B,513,513,274,0,4,352,PARTIDO POPULAR,PP,32,53.41,11.68,1.46,0.00,2_B
1,14,1,1,Alegría-Dulantzi,1,B,497,497,281,2,4,337,EUZKO ALDERDI JELTZALEA-PARTIDO NACIONALISTA V...,EAJ-PNV,108,56.54,38.43,1.42,0.71,1_B
2,14,1,1,Alegría-Dulantzi,2,A,519,519,271,1,2,352,PARTIDO POPULAR,PP,33,52.22,12.18,0.74,0.37,2_A
3,14,1,1,Alegría-Dulantzi,1,B,497,497,281,2,4,337,PARTIDO SOCIALISTA DE EUSKADI-EUSKADIKO EZKERR...,PSE-EE (PSOE),74,56.54,26.33,1.42,0.71,1_B
4,14,1,1,Alegría-Dulantzi,2,A,519,519,271,1,2,352,PARTIDO COMUNISTA DE LOS TRABAJADORES DE EUSKA...,PCTE/ELAK,3,52.22,1.11,0.74,0.37,2_A

In [400]:
mesa_pivot= votos_mesa.pivot_table(index=['municipio','denominacion','siglas','seccion_mesa'], 
                         values=['porcentaje_votos_partido','votos','participacion_2','votos_blancos','votos_nulos','porcentaje_participacion'],
                         aggfunc='sum')

In [397]:
municipio_ejemplo = votos_mesa[votos_mesa["municipio"]=='Buenamadre']

In [432]:
def get_data_from_municipality(name):
    municipio_ejemplo = votos_mesa[votos_mesa["municipio"]==str(name)]
    pivoti=municipio_ejemplo.pivot_table(index=['municipio','denominacion','siglas','seccion_mesa'], 
                         values=['porcentaje_votos_partido','porcentaje_participacion',
                                 'porcentaje_votos_nulos','porcentaje_votos_blancos'])

    return pivoti

In [433]:
get_data_from_municipality('Guadalupe')

                                                                                       porcentaje_participacion  \
municipio denominacion                                 siglas            seccion_mesa
Guadalupe CIUDADANOS-PARTIDO DE LA CIUDADANÍA          Cs                1_U                             51.025
          EXTREMADURA UNIDA                            EXTREMADURA UNIDA 1_U                             51.025
          PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL PACMA             1_U                             51.025
          PARTIDO POPULAR                              PP                1_U                             51.025
          PARTIDO SOCIALISTA OBRERO ESPAÑOL            PSOE              1_U                             51.025
          POR UN MUNDO MÁS JUSTO                       PUM+J             1_U                             51.025
          RECORTES CERO-GRUPO VERDE                    RECORTES CERO-GV  1_U                             51.025
          UNIDAS PODEMOS                               PODEMOS-IU        1_U                             51.025
          VOX                                          VOX               1_U                             51.025

                                                                                       porcentaje_votos_blancos  \
municipio denominacion                                 siglas            seccion_mesa
Guadalupe CIUDADANOS-PARTIDO DE LA CIUDADANÍA          Cs                1_U                               1.25
          EXTREMADURA UNIDA                            EXTREMADURA UNIDA 1_U                               1.25
          PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL PACMA             1_U                               1.25
          PARTIDO POPULAR                              PP                1_U                               1.25
          PARTIDO SOCIALISTA OBRERO ESPAÑOL            PSOE              1_U                               1.25
          POR UN MUNDO MÁS JUSTO                       PUM+J             1_U                               1.25
          RECORTES CERO-GRUPO VERDE                    RECORTES CERO-GV  1_U                               1.25
          UNIDAS PODEMOS                               PODEMOS-IU        1_U                               1.25
          VOX                                          VOX               1_U                               1.25

                                                                                       porcentaje_votos_nulos  \
municipio denominacion                                 siglas            seccion_mesa
Guadalupe CIUDADANOS-PARTIDO DE LA CIUDADANÍA          Cs                1_U                            1.505
          EXTREMADURA UNIDA                            EXTREMADURA UNIDA 1_U                            1.505
          PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL PACMA             1_U                            1.505
          PARTIDO POPULAR                              PP                1_U                            1.505
          PARTIDO SOCIALISTA OBRERO ESPAÑOL            PSOE              1_U                            1.505
          POR UN MUNDO MÁS JUSTO                       PUM+J             1_U                            1.505
          RECORTES CERO-GRUPO VERDE                    RECORTES CERO-GV  1_U                            1.505
          UNIDAS PODEMOS                               PODEMOS-IU        1_U                            1.505
          VOX                                          VOX               1_U                            1.505

                                                                                       porcentaje_votos_partido
municipio denominacion                                 siglas            seccion_mesa
Guadalupe CIUDADANOS-PARTIDO DE LA CIUDADANÍA          Cs                1_U                              6.180
          EXTREMADURA UNIDA                            EXTREMADURA UNIDA 1_U                              0.515
          PARTIDO ANIMALISTA CONTRA EL MALTRATO ANIMAL PACMA             1_U                              0.000
          PARTIDO POPULAR                              PP                1_U                             36.055
          PARTIDO SOCIALISTA OBRERO ESPAÑOL            PSOE              1_U                             56.870
          POR UN MUNDO MÁS JUSTO                       PUM+J             1_U                              0.000
          RECORTES CERO-GRUPO VERDE                    RECORTES CERO-GV  1_U                              0.000
          UNIDAS PODEMOS                               PODEMOS-IU        1_U                              8.485
          VOX                                          VOX               1_U                             25.365

In [435]:
export_to_csv(votos_mesa,'/app/data/csv/votos_mesa_ok.csv')

File saved to /app/data/csv/votos_mesa_ok.csv